:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-cyan2:  hsl(158, 36%, 57%);
  --cream: hsl(30, 38%, 92%);     
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --green: hsl(75, 94%, 57%);
  --pink: hsl(330, 76%, 59%);

  --ff-main: Montserrat;
  --ff-accent: Fraunces;

  --fs-main:   0.875rem;
  --fs-accent: 1.75rem;

  --fw-regular: 500;
  --fw-bold:    700;
}